Package: howto
Version: VERSION
Section: devel
Priority: optional
Architecture: all
Installed-Size: SIZE
Depends: python-bs4, python
Maintainer: Jared Henry Oviatt <jaredhenryoviatt@gmail.com>
Description: Helper for the Shell or Terminal. Offers "howto <topic>" or "ghow <topic>" for help.

